@font-face {
    font-family: 'linurix';
    src: url('webfonts/linurix.woff2') format('woff2');
}


html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fcf8e3;
    font-family: sans-serif;
}


section {
    display: none;
}

h1, h2, h3 {
    padding: 0.5rem;
}

span {
    padding: 0.5rem;
}

div.container {
    width: 100vw;
    height: 100vh;
}

div.navbar {
    padding: 0.5rem;
    background-color: green;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}

div.navbar img {
    height:30px;
}

div.navbar span {
    color: #e32322;    
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #333;
}

div.content {
    position: absolute;
    top: 50px;
    height: calc(100vh - 50px);
    width: 100vw;
    overflow-x: scroll;
}

#mitteilungen_chat > div.content {
    height: calc(100vh - 100px);
}

#mitteilungen_chat div.mitteilungsdatum {
    text-align: center;
    margin-bottom: 1rem;
}

#mitteilungen_chat div.mitteilungsdatum span {
    font-size: 0.7em;
    color:white;
    background-color: #AAA;
    border-radius: 10px;
    padding: 2px 5px;
}

#mitteilungen_chat div.mitteilung {
    position: relative;
    left: 15px;
    font-size: 10px;
    background-color: lightblue;
    width: 80vw;
    margin-bottom: 1rem;
    border:1px solid #333;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#mitteilungen_chat div.mitteilung .time {
    text-align: right;
    color: red;
}

#mitteilungen_chat div.eigene_mitteilung {
    left: calc(20vw - 15px);
    background-color: lightgrey;
}

#mitteilungen_chat div.gelesen {
    background-color: lightgreen;
}

#mitteilungen_chat div.neue_mitteilung {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
}

#mitteilungen_chat div.neue_mitteilung textarea {
    height: 30px;
    width: calc(100vw - 50px);
    margin:0;    
    padding: 5px;    
    border:none;
    resize: vertical;
    
}

#mitteilungen_chat div.neue_mitteilung button {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 30px;
    width: 30px;
    padding:0;
    margin:0;
    border:none;
    background: none;
}


