@font-face {
    font-family: 'linurix';
    src: url('webfonts/linurix.woff2') format('woff2');
}


html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fcf8e3;
    font-family: sans-serif;
    color: #555;
    box-sizing: border-box;
}


section {
    display: none;
}

h1, h2, h3 {
    padding: 0.5rem;
}

span {
    padding: 0.5rem;
}

div.container {
    width: 100vw;
    height: 100vh;
}

div.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height:50px;
    z-index: 1000;
    padding-top:13px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
}

div.navbar img {
    position:absolute;
    top: 5px;
    left: 15px;
    height: 40px;
}

div.navbar span {
    color: #e32322;    
}

div.navbar span#chatname {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #333;
}

div.content {
    position: absolute;
    top: 50px;
    height: calc(100vh - 40px);
    width: 100vw;
    overflow-x: scroll;
}

label {
    display: block;
    margin-left: 15px;
    margin-bottom: 5px;
}

input, button {
    margin-left: 15px;
    display: block;
    border: 1px solid #333;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 6px 12px;
    background-color: #fff;
    color: #555;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input {
    width: calc(100vw - 30px);
}

button {
    width: calc(100vw - 30px);
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

p {
    padding: 0px 15px 0 15px;
}

#login .content, #logout .content {
    margin-top: 10vh;
}


#mitteilungen_chat > div.content {
    height: calc(100vh - 100px);
}

#mitteilungen_chat div.mitteilungsdatum {
    text-align: center;
    margin-bottom: 1rem;
}

#mitteilungen_chat div.mitteilungsdatum span {
    font-size: 0.7em;
    color:white;
    background-color: #AAA;
    border-radius: 10px;
    padding: 2px 5px;
}

#mitteilungen_chat div.mitteilung {
    position: relative;
    left: 15px;
    font-size: 0.8rem;
    color: black;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 80vw;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#mitteilungen_chat div.eigen {
    left: calc(20vw - 15px);
    background-color: lightgrey;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#mitteilungen_chat div.empfangen {
    color: #31708f;
    border-color: #bce8f1;
    background-color: #d9edf7;
}

#mitteilungen_chat div.gelesen {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#mitteilungen_chat div.offline {
    color: #333;
    border-color: #ccc;
    background-color: #ccc;
}

#mitteilungen_chat div.mitteilung .time {
    text-align: right;
    color: #777;
}


#mitteilungen_chat div.neue_mitteilung {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    padding: 5px;
    color: #333;
    background-color: #ccc;
}

#mitteilungen_chat div.neue_mitteilung textarea {
    height: 35px;
    width: calc(100vw - 60px);
    margin: 0;    
    padding: 5px;    
    border:none;
    border-radius: 4px;
    resize: vertical;
}

#mitteilungen_chat div.neue_mitteilung button {
    position: relative;
    bottom: 11px;
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    border: none;
    background: none;
    display: inline-block;
    color: #555;
    width: 43px;
    
    
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.anwesend {
    color: #3c763d;
    background-color: #dff0d8;
}

.abwesend {
    color: #a94442;
    background-color: #f2dede;
}