<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.toolsforschools.app" version="0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>toolsforschools</name>
    <description>Die App erweitert die Website mit für mobile Endgeräte angepassten Funktionen</description>  
    <access origin="https://*.toolsforschools.ch" />  
</widget>
