<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.toolsforschools.app" version="0.3" xmlns="http://www.w3.org/ns/widgets">
    <name>toolsforschools</name>
    <description>Die App erweitert die Website mit für mobile Endgeräte angepassten Funktionen</description>  
    <plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0" />
    <access origin="https://toolsforschools.ch" />  
    <icon src="favicon-96x96.png" />
</widget>
